{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-2">
  <div class="row">
    <div class="col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Income</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Income
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-3">
      <a href="{% url 'add-income'%}" class="btn btn-warning ">Add Income</a>
      <a href="" class="btn btn-success ">Export Excel</a>
    </div>
  </div>
  
  <div class="row"> <div class="col-md-8">
    <div class="container">
     {% if income.count %}
      <div class="card border-info mb-3" style="max-width: 20rem;"> 
        <div class="card-header">Income Statistics</div>
        <div class="card-body">
          <p class="card-text">
            Total Income: {{total}}
            <br/>
            Average Income: {{avg}}
            <br/>
            Minimum Income: {{minimum}}
            <br/>
            Maximum Income: {{maximum}}
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" id="searchField" placeholder="Search">
      </div>
  </div></div>  {% include 'partials/_messages.html' %}
<div class="app-table mt-4">

  <table class="table table-primary table-stripped table-hover ">
    <thead>
      <tr>
        <th>Amount </th>
        <th>Source</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for income in page_obj%}
      <tr>
        <td>{{income.amount}}</td>
        <td>{{income.source}}</td>
        <td>{{income.description}}</td>
        <td>{{income.date}}</td>

        <td>
          <a
            href="{% url 'income-edit' income.id  %}"
            class="btn btn-secondary btn-sm"
            >Edit</a
            >&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'income-delete' income.id %}" class="btn btn-danger btn-sm ">Delete</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<p class="no-results" style="display: none;">No results </p>
    <div class="table-output mt-4">


      <table class="table table-primary table-stripped table-hover">
        <thead>
          <tr>
            <th>Amount ({{currency}})</th>
            <th>Source</th>
            <th>Description</th>
            <th>Date</th>
          
          </tr>
        </thead>

        <tbody  class="table-body">


        </tbody>
      </table>
    </div>


    
    <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}


      </ul>
    {% endif %}
  </div>
</div>
</div>

<script src="{% static 'js/searchIncome.js' %}"></script>

</script>

{% endblock content %}