{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset Password Form</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="send email">
            </form>
        </div>
    </div>
</div>

{% endblock %}