{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% include 'partials/_messages.html'%}
                {% csrf_token %}


                <div class="form-group">
                    <label for="">Email Id: </label>
                    <input type="email" class="form-control form-control-sm mb-4" name="email" id="emailFeild"
                        placeholder="Email" value="{{user.email}}">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">

            </form>
        </div>
    </div>
</div>

{% endblock %}